.heading {
  text-align: center;
  @include text(1.5rem, 600, 1.33rem, $black-cl, null);
}
.btn__shop {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid $black-cl;
  background-color: #fff;
  @include text(0.875rem, 600, 1.14rem, $black-cl, null);
  &::after {
    content: "";
    display: block;
    height: 1px;
    min-width: max-content;
    background: $bg-green;
    @include transform(scale(0));
    @include transform-origin(left center);
    @include transition(0.5s);
  }
  &:hover {
    &::after {
      @include transform(scale(1));
      @include transition(0.5s);
      @include transform-origin(left center);
    }
  }
  &.--second {
    margin-top: 20px;
    background-color: transparent;
  }
}
.btn-authen {
  width: max-content;
  display: block;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.btn-authen:hover {
  background-color: $bg-green;
  box-shadow: 0px 15px 20px $bg-green;
  color: #fff;
  transform: translateY(-7px);
}

.backToTop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  // background-color: rgb(20, 20, 20);
  background-color: transparent;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px $bg-green;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  position: fixed;
  top: 80%;
  right: 1%;
  opacity: 0;
  @include transition($t);
  &.active {
    pointer-events: auto;
    opacity: 1;
    @include transition($t);
  }
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: $black-cl;
}

.backToTop:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: $bg-green;
  align-items: center;
}

.backToTop:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.backToTop::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  transition-duration: 0.3s;
  font-size: 0px;
}

.backToTop:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}

.button {
  cursor: pointer;
  --width: 100px;
  --height: 40px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #222;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  // border-radius: 0.5em;
  // transition: background 0.7s;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #555;
  font-size: 0.875rem;
  color: #fff;
  border-radius: 0.25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,
.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,
.text,
.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}

.text,
.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #222;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,
.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}
